version: "3.9"
services:
  cm_explorer_db:
    image: hub-dev.cnbn.org.cn/tools/kingbase_x86:v1
    volumes:
      - ./explorer_db/sql_data:/home/kingbase/userdata/data # 配置人大金仓数据目录，挂载宿主机目录
    restart: always
    environment:
      DB_USER: chainmaker # 设置数据库用户名
      DB_PASSWORD: chainmaker # 设置数据库密码
      DB_MODE: oracle # 设置数据库模式
      ENCODING: utf8 # 设置编码
      TZ: Asia/Shanghai # 设置时区
    command:
      - "/usr/sbin/init"
      - "-D"
      - "/home/kingbase/userdata/data"
      - "-c"
      - "timezone=Asia/Shanghai" 
    ports:
      - "54321:54321" # 映射端口，以便外部可以连接到数据库
    privileged: true # 设置容器为特权模式，以便能够访问底层资源

  redis:
    image: hub-dev.cnbn.org.cn/tools/redis:latest
    volumes:
      - ./explorer_db/redis:/data
    restart: always
    command: redis-server --requirepass explorer_redis
    ports:
      - "16379:6379"

  cm_explorer_server:
    image: hub-dev.cnbn.org.cn/opennet/chainmaker-explorer-backend:v2.3.9
    depends_on:
      - cm_explorer_db
      - redis
      - cm_compiler_server
      - cm_dquery_server
    restart: always
    volumes:
      - ./cm_explorer_server/config.yml:/chainmaker-explorer-backend/configs/config.yml
      - ./cm_explorer_server/crypto-config:/chainmaker-explorer-backend/configs/crypto-config
      - ./cm_explorer_server/log/:/chainmaker-explorer-backend/log/

  cm_dquery_server:
    image: hub-dev.cnbn.org.cn/opennet/dquery-backend:v2.3.8
    depends_on:
      - cm_explorer_db
      - redis
    restart: always
    volumes:
      - ./cm_dquery/config.yml:/dquery-backend/configs/config.yml
      - ./cm_dquery/log/:/dquery-backend/log/

  cm_compiler_server:
    image: hub-dev.cnbn.org.cn/opennet/compiler-service:v2.3.7
    depends_on:
      - cm_explorer_db
      - redis
    restart: always
    volumes:
      - ./cm_compiler/config.yml:/compiler-service/configs/config.yml
      - ./cm_compiler/log/:/compiler-service/log/

  cm_explorer_web:
    image: hub-dev.cnbn.org.cn/opennet/explorer_front:v2.3.8
    depends_on:
      - cm_compiler_server
      - cm_dquery_server
      - cm_explorer_server
    ports:
      - "9996:9996"
    restart: always
    command: /bin/sh -c "sleep 10 && nginx -g 'daemon off;'" # 延迟 10 秒启动
    volumes:
      - ./cm_explorer_web/default.conf:/etc/nginx/conf.d/default.conf
      - ./cm_explorer_web/_config.json:/usr/share/nginx/html/_config.json
      - ./cm_explorer_web/assets:/usr/share/nginx/html/override/assets
