services:
  cm_explorer_db:
    image: hub-dev.cnbn.org.cn/tools/mysql:8.0.28
    volumes:
      - ./explorer_db/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: chainmaker
      MYSQL_USER: chainmaker # 可选：在容器启动时创建用户
      MYSQL_PASSWORD: chainmaker # 可选：为用户设置密码
      TZ: Asia/Shanghai # 设置时区为东八区
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--default-time-zone=Asia/Shanghai' ]
    ports:
      - "33061:3306"

  redis:
    image: hub-dev.cnbn.org.cn/tools/redis:latest
    volumes:
      - ./explorer_db/redis:/data
    restart: always
    command: redis-server --requirepass explorer_redis

  cm_explorer_server:
    image: hub-dev.cnbn.org.cn/opennet/chainmaker-explorer-backend:v2.3.9
    depends_on:
      - cm_explorer_db
      - redis
      - cm_compiler_server
      - cm_dquery_server
    restart: always
    volumes:
      - ./cm_explorer_server/config.yml:/chainmaker-explorer-backend/configs/config.yml
      - ./cm_explorer_server/crypto-config:/chainmaker-explorer-backend/configs/crypto-config
      - ./cm_explorer_server/log/:/chainmaker-explorer-backend/log/

  cm_dquery_server:
    image: hub-dev.cnbn.org.cn/opennet/dquery-backend:v2.3.9
    depends_on:
      - cm_explorer_db
      - redis
    restart: always
    volumes:
      - ./cm_dquery/config.yml:/dquery-backend/configs/config.yml
      - ./cm_dquery/log/:/dquery-backend/log/

  cm_compiler_server:
    image: hub-dev.cnbn.org.cn/opennet/compiler-service:v2.3.9
    depends_on:
      - cm_explorer_db
      - redis
    restart: always
    volumes:
      - ./cm_compiler/config.yml:/compiler-service/configs/config.yml
      - ./cm_compiler/log/:/compiler-service/log/

  cm_explorer_web:
    image: hub-dev.cnbn.org.cn/opennet/explorer_front:v2.3.9
    depends_on:
      - cm_compiler_server
      - cm_dquery_server
      - cm_explorer_server
    ports:
      - "9996:9996"
    restart: always
    command: /bin/sh -c "sleep 10 && nginx -g 'daemon off;'" # 延迟 10 秒启动
    volumes:
      - ./cm_explorer_web/default.conf:/etc/nginx/conf.d/default.conf
      - ./cm_explorer_web/_config.json:/usr/share/nginx/html/_config.json
      - ./cm_explorer_web/assets:/usr/share/nginx/html/override/assets
